@import "./abstract/mixins";
@import "./base/colours";
@import "./base/reset";
@import "./base/typography";

html {
	@include fluid-type(0, 2160px, 11px, 100px);
}

body {
	background-color: $veryLightGray;
	font-family: $poppins;
}

header {
	@include size-element(100%, null);
}

.container {
	@include spacing(1em 1.5em, 0.25em auto);
}

.row {
	justify-content: center;
	align-items: center;
}

h1 {
	@include spacing(0.5em, null);
	font-weight: $light;

	span {
		font-weight: $bold;
		&::before {
			content: "\A";
			white-space: pre;
		}
	}
}

p {
	font-weight: $light;
	span {
		&::before {
			content: "\A";
			white-space: pre-line;
		}
	}
}

main {
	@include size-element(100%, null);
	@include spacing(0.5em, 0.5em auto);
}

.card {
	@include spacing(0.5m, null);
	border-radius: 3.5%;
	&-body {
		@include spacing(2.5em, null);
	}
	&-title {
		font-weight: $bold;
	}
	&-text {
		color: $grayishBlue;
		font-weight: $normal;
	}
}

.supervisor {
	border-top: 5px solid $cyan;
	background-image: url(../../multimedia/images/icon-supervisor.svg);
	@include bg-img(95% 95%, no-repeat, 10%);
	@include spacing(0.5em, null);
}
.team-builder {
	border-top: 5px solid $red;
	background-image: url(../../multimedia/images/icon-team-builder.svg);
	@include bg-img(95% 95%, no-repeat, 10%);
	@include spacing(0.5em, 0 0 0.5em 0);
}
.karma {
	border-top: 5px solid $orange;
	background-image: url(../../multimedia/images/icon-karma.svg);
	@include bg-img(95% 95%, no-repeat, 10%);
	@include spacing(0.25em, null);
}
.calculator {
	border-top: 5px solid $blue;
	background-image: url(../../multimedia/images/icon-calculator.svg);
	@include bg-img(95% 95%, no-repeat, 10%);
	@include spacing(0.5em, null);
}
